<h3>Current Status - {{humanize resource.status}}</h3>
<hr>
{{#each sections-to-show as |section|}}
  <h4>{{humanize section}}</h4>
  <ul>
    {{#each fields as |field|}}

      {{audit-trail-item section=section audit-trail=auditTrail key-suffix=field}}
    {{/each}}
  </ul>
{{/each}}


